<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div id="colorlib-logo"><a href="index.html">BIG GYM GOLD</a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<li><a href="/">Inicio</a></li>
								<li class="has-dropdown">
									<a href="/classes">Clases</a>
									<ul class="dropdown">
										<li><a href="classes-single.html">Clases Solitario</a></li>
										<li><a href="#">Clases solitarias</a></li>
										<li><a href="#">Clases de cardio</a></li>
										<li><a href="#">Clases de musculatura</a></li>
										<li><a href="#">Clases de Fitness</a></li>
										<li><a href="#">Contruscion de cuerpo</a></li>
									</ul>
								</li>
								<!-- <li><a href>Calendario</a></li>-->
								<li><a href="/about">Entrenadores</a></li>>
					
								<!-- <li><a href>Blog</a></li>-->
								<li><a href="/shop">Tienda</a></li>
								<li><a href="/vista_planes">planes</a></li>


								 <li> <a href="/sigin">iniciar sesion</a></li>
								{{#if user}}
                          		  <li><a href="/maquina">maquina</a></li>
						  <li><a href="/logout">logout</a></li>
							{{/if}}
                        </ul>
        						  
						
							
						
					</div>
				</div>
			</div>
			
		</nav>
	