


		<aside id="colorlib-hero" class="colorlib-degree-bg">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/img_bg_5.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Entrenadores</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<!--contenedor de entrenadores-->
		<div class="colorlib-trainers">
			<div class="container">
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="trainers-entry">
							<div class="trainer-img" style="background-image: url(images/trainer-1.jpg)"></div>
							<div class="desc">
								<h3>Diego Carter</h3>
								<span>Power Trainer</span>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="trainers-entry">
							<div class="trainer-img" style="background-image: url(images/trainer-2.jpg)"></div>
							<div class="desc">
								<h3>Lea Young</h3>
								<span>Yoga Trainer</span>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 text-center">
						<div class="trainers-entry">
							<div class="trainer-img" style="background-image: url(images/trainer-3.jpg)"></div>
							<div class="desc">
								<h3>Alysha Reed</h3>
								<span>Dance Trainer</span>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-3 text-center">
						<div class="trainers-entry">
							<div class="trainer-img" style="background-image: url(images/trainer-4.jpg)"></div>
							<div class="desc">
								<h3>George Cooper</h3>
								<span>Boxing Trainer</span>
								<p>
									<ul class="colorlib-social-icons">
										<li><a href="#"><i class="icon-twitter"></i></a></li>
										<li><a href="#"><i class="icon-facebook"></i></a></li>
										<li><a href="#"><i class="icon-linkedin"></i></a></li>
										<li><a href="#"><i class="icon-dribbble"></i></a></li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--contenedor de entrenadores-->

		
