

		<aside id="colorlib-hero" class="colorlib-degree-bg">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/admin_1.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Pagina de Administración</h1>
									</div>
								</div>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</aside>



		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Modulo
							<small>Administrativo</small></h1>
					</div>
				</div>
			</div>
		</header>

		<section id="breadcrumb">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active">Panel de Control</li>
				</ol>
			</div>
		</section>

		<section id="main">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<!-- Contenedor Panel de control-->
						<div class="list-group">
							<a class="list-group-item active color-principal">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Panel de Control
							</a>
							<a href="/inicio" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> informacion gimnasio
						<span class="badge"></span></a>
					
					<a href="/persona" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> clientes <span class="badge">340</span></a>
					<a href="/rutina" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> rutinas <span class="badge">7</span></a>
					<a href="/productos" class="list-group-item"><span class="glyphicon glyphicon-uno"
							aria-hidden="true"></span> Productos <span class="badge">1200</span></a>
					<a href="/ventas" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> ventas <span class="badge">2300</span></a>
					<a href="/provedores" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> proovedores <span class="badge">25</span></a>
					<a href="/planes" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> planes <span class="badge">7</span></a>

						</div>

						<div class="well">
							<h4>Espacio en disco</h4>
							<div class="progress">
								<div class="barra-progreso" role="progressbar" aria-valuenow="60" aria-valuemin="0"
									aria-valuemax="100" style="width: 40%;">
									40%
								</div>
							</div>
							<h4>Ancho de banda </h4>
							<div class="progress">
								<div class="barra-progreso" role="progressbar" aria-valuenow="40" aria-valuemin="0"
									aria-valuemax="100" style="width: 75%;">
									75%
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<!-- Vista rápida del sitio -->
						<div class="panel panel-default">
							<div class="panel-heading main-color-bg">
								<h3 class="panel-title">Vista Rápida</h3>
							</div>
							<div class="panel-body">
								<div class="col-md-3">
									<div class="well dash-box">
										<h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 508</h2>
										<h4>Usuarios</h4>
									</div>
								</div>
								<div class="col-md-3">
									<div class="well dash-box">
										<h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 17
										</h2>
										<h4>Paginas</h4>
									</div>
								</div>
								<div class="col-md-3">
									<div class="well dash-box">
										<h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 33</h2>
										<h4>Entradas</h4>
									</div>
								</div>
								<div class="col-md-3">
									<div class="well dash-box">
										<h2><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 15,336
										</h2>
										<h4>Visitantes</h4>
									</div>
								</div>
							</div>
						</div>

						<!-- últimos usuarios -->
						<aside id="colorlib-hero" class="colorlib-degree-bg">
							<div class="flexslider">
								<ul class="slides">
									<li style="background-image: url(images/admin_pag.jpg);">
										<div class="overlay"></div>
										<div class="container-fluid">
											<div class="row">
												<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
													<div class="slider-text-inner text-center">
														<h1>Pagina de Administración</h1>
													</div>
												</div>
											</div>

										</div>
									</li>
								</ul>
							</div>
						</aside>
						<!-- meter aui footer-->
					</div>
				</div>
			</div>
		</section>



		<!-- Modals -->

		<!-- Agregar página -->
		<div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Agregar Página</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Título de Página</label>
								<input type="text" class="form-control" placeholder="Título de la página">
							</div>
							<div class="form-group">
								<label>Mensaje de Página</label>
								<textarea name="editor1" class="form-control"
									placeholder="Información de la página"></textarea>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"> Publicado
								</label>
							</div>
							<div class="form-group">
								<label>Palabras Clave</label>
								<input type="text" class="form-control" placeholder="Agregar algunas palabras...">
							</div>
							<div class="form-group">
								<label>Meta Descripción</label>
								<input type="text" class="form-control" placeholder="Agregar una metadescripción...">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-primary">Guardar Cambios</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	
