<!DOCTYPE HTML>
<html>

<head>

	<title>Clases</title>



</head>

<body>

	

		<!--Texto Principal-->
		<aside id="colorlib-hero" class="colorlib-degree-bg">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/img_bg_5.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Clases Disponibles</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>

		<div class="colorlib-classes">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-1.jpg);">
								<p class="price text-center"><span>$25.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Fitness Gym &amp; Cardio</a></h3>

							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-2.jpg);">
								<p class="price text-center"><span>$25.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Entrenamiento de fuerza</a></h3>

							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-3.jpg);">
								<p class="price text-center"><span>$45.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Programa Relajación</a></h3>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-4.jpg);">
								<p class="price text-center"><span>$25.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Aerobitc &amp; Hombres</a></h3>

							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-5.jpg);">
								<p class="price text-center"><span>$60.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Tonificacion Corporal</a></h3>

							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-6.jpg);">
								<p class="price text-center"><span>$58.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Equilibrio motriz</a></h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-7.jpg);">
								<p class="price text-center"><span>$25.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Ejercicio Fisico &amp; Cardio</a></h3>

							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-8.jpg);">
								<p class="price text-center"><span>$85.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Resistencia Fisica</a></h3>

							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="classes">
							<div class="classes-img" style="background-image: url(images/classes-9.jpg);">
								<p class="price text-center"><span>$25.000<br><small>/mes</small></span></p>
							</div>
							<div class="desc">
								<h3><a href="#">Entrenamiento Corporal</a></h3>
							</div>
						</div>
					</div>
				
				


					
					<!--fin suscribirse al canal-->


</body>

</html>