
		<aside id="colorlib-hero" class="colorlib-degree-bg">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/img_bg_5.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div
									class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Proximos eventos y horarios</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<div id="colorlib-schedule">
			<div class="container">
				<div class="row">
					<div
						class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2>Nuestro horario de clases</h2>
						<p>Clases especializadas para tu salud fisica</p>
					</div>
				</div>
				<div class="row">
					<div class="schedule text-center animate-box">
						<div class="col-md-12">
							<ul class="week">
								<li class="active"><a href="#">Domingo</a></li>
								<li><a href="#">Lunes</a></li>
								<li><a href="#">Martes</a></li>
								<li><a href="#">Miercoles</a></li>
								<li><a href="#">Jueves</a></li>
								<li><a href="#">Viernes</a></li>
								<li><a href="#">Sabado</a></li>
							</ul>
						</div>
						<div class="schedule-flex">
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-gym"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>Programa de cardio</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-exercise-2"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>Programa de peso suelto</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-meditation"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>clases de Yoga</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-gloves"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>Programa de boxeo</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
						</div>
						<div class="schedule-flex">
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-martial-arts"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>Clases de karate</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-weightlifting"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>Construccion de cuerpo</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-swimmer"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>programa de natacion</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
							<div class="entry-forth">
								<p class="icon">
									<span><i class="flaticon-man"></i></span>
								</p>
								<p class="time">
									<span>06am - 8am</span>
								</p>
								<h3>ejerccio basico</h3>
								<p class="trainer">
									<span>Tom Scott</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div
				class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
				<h2>Nuestro horario de eventos</h2>
				<p>los mejores eventos deportivos</p>
			</div>
		</div>
		<div class="colorlib-event colorlib-degree-bg-full">
			<div class="container">
				<div class="row row-pb-sm">
					<div class="col-md-4 animate-box">
						<div class="event-entry">
							<div class="desc">
								<p class="meta">
									<span class="day">19</span><span class="month">Oct</span>
								</p>
								<p class="organizer">
									<span>Organizado por:</span> <span>Victor Sarrias</span>
								</p>
								<h2>
									<a href="event.hbs">Entrenamiento especial para boxeo</a>
								</h2>
							</div>
							<div class="location">
								<span class="icon"><i class="icon-map"></i></span>
								<p>dirección Centro Comercial Gran Plaza</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="event-entry">
							<div class="desc">
								<p class="meta">
									<span class="day">19</span><span class="month">May</span>
								</p>
								<p class="organizer">
									<span>Organizado por</span> <span>Alberto Barrera</span>
								</p>
								<h2>
									<a href="event.hbs"> Reunirse para el Dia Mundial del Yoga</a>
								</h2>
							</div>
							<div class="location">
								<span class="icon"><i class="icon-map"></i></span>
								<p>dirección: Estadio Alberto Buitrago</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 animate-box">
						<div class="event-entry">
							<div class="desc">
								<p class="meta">
									<span class="day">19</span><span class="month">May</span>
								</p>
								<p class="organizer">
									<span>organizado por:</span> <span>Noah Henderson</span>
								</p>
								<h2>
									<a href="event.hbs">ejerccio motivacional</a>
								</h2>
							</div>
							<div class="location">
								<span class="icon"><i class="icon-map"></i></span>
								<p>dirección: Universidad de la Amazonia </p>
							</div>
						</div>
					</div>
				</div>
	