
		<aside id="colorlib-hero" class="colorlib-degree-bg">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/admin_1.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Gestion Gimnasio</h1>
									</div>
								</div>
							</div>

						</div>
					</li>
				</ul>
			</div>
		</aside>



		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Modulo
							<small>Administrativo</small></h1>
					</div>
				</div>
			</div>
		</header>


		<section id="breadcrumb">
			<div class="container">
				<ol class="breadcrumb">
					<li class="active">Panel de Control</li>
				</ol>
			</div>
		</section>

		<section id="main">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<!-- Contenedor Panel de control-->
						<div class="list-group">
							<a class="list-group-item active color-principal">
								<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Panel de Control
							</a>
							<a href="/inicio" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> informacion gimnasio
						<span class="badge"></span></a>
					<a href="/empleados" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> empleados <span class="badge">20</span></a>
					<a href="/persona" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> clientes <span class="badge">340</span></a>
					<a href="/rutina" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> rutinas <span class="badge">7</span></a>
					<a href="/productos" class="list-group-item"><span class="glyphicon glyphicon-uno"
							aria-hidden="true"></span> Productos <span class="badge">1200</span></a>
					<a href="/ventas" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> ventas <span class="badge">2300</span></a>
					<a href="/provedores" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> proovedores <span class="badge">25</span></a>
					<a href="/planes" class="list-group-item"><span class="glyphicon glyphicon-user"
							aria-hidden="true"></span> planes <span class="badge">7</span></a>

						</div>

						<div class="well">
							<h4>Espacio en disco</h4>
							<div class="progress">
								<div class="barra-progreso" role="progressbar" aria-valuenow="60" aria-valuemin="0"
									aria-valuemax="100" style="width: 40%;">
									40%
								</div>
							</div>
							<h4>Ancho de banda </h4>
							<div class="progress">
								<div class="barra-progreso" role="progressbar" aria-valuenow="40" aria-valuemin="0"
									aria-valuemax="100" style="width: 75%;">
									75%
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<!--fila para mision-->
							<p style="text-align:justify">
								<div class="col-md-9">
									<h1>MISIÓN </h1>
								</div>
								<div class="col-md-3">
									<div class="clearfix"></div>
									<button type="button" onclick="modificarmision()"
										class="btn btn-info btn-lg btn-responsive" id="search">
										<span class="glyphicon glyphicon-search"></span> modificar</button>
								</div>
							</p>
						</div>
						<p>
							Contribuir al desarrollo integral de los clientes mediante el diseño y la aplicación de
							un conjunto de servicios que fortalezcan la salud física y mental. Ayudar a nuestros
							socios a crear y mantener una excelente condición física a través de la nutrición y
							programas de entrenamiento. Inculcar en niños, jóvenes y adultos, el valor de la salud y
							el ejercicio. Mejorar la calidad de vida de las comunidades a través de la filosofía del
							ejercicio,
							programas y productos de nutrición.
							Participar proactivamente en el bienestar de las personas en su entorno social y
							laboral.
							Brindar un servicio único y facilitar las herramientas del éxito.
						</p>
						<hr>
						</hr>
						<div class="row">
							<p style="text-align:justify">
								<div class="col-md-9">
									<h1>Visión </h1>
								</div>
								<div class="col-md-3">
									<div class="clearfix"></div>
									<button type="button" onclick="modificarvisión()"
										class="btn btn-info btn-lg btn-responsive" id="search">
										<span class="glyphicon glyphicon-search"></span> modificar</button>
								</div>
							</p>
						</div>
						<p>
							Ser un gimnasio líder, brindando calidad y bienestar a nuestros miembros, generando
							valor
							humano y profesional a nuestra empresa, a nuestros colaboradores y a nuestra comunidad.

							Ser la mejor opción deportiva en la ciudad de Santo Domingo, por la excelencia en los
							servicios y la moderna aparatología, potenciando los procesos de servicio al cliente y
							la
							atención personalizada.

							Ofrecer un ambiente ameno, accesible, práctico y estimulante, en el que todo socio pueda
							expresar su competencia física, mental y espiritual.

							Optimizar los objetivos de captación y retención de socios, garantizando calidad y
							resultados tangibles.

							Promover la integración familiar por medio de las actividades deportivas en un clima
							sano,
							alegre y positivo.
						</p>
						<hr>
						</hr>
						<div class="row">
							<p style="text-align:justify">
								<div class="col-md-9">
									<h1>Valores </h1>
								</div>
								<div class="col-md-3">
									<div class="clearfix"></div>
									<button type="button" onclick="modificarValores()"
										class="btn btn-info btn-lg btn-responsive" id="search">
										<span class="glyphicon glyphicon-search"></span>Valores</button>
								</div>
							</p>
						</div>
						<p>
							<li>Apego a la filosofía de la salud y el bienestar</li>
							<li>Profesionalismo</li>
							<li>Eficacia en el logro de los objetivos</li>
							<li>Eficacia en el uso de los recursos</li>
							<li>Excelencia en servicios</li>
							<li>Compromiso social</li>
							<li>Compromiso ambiental</li>
							<li>Comportamiento ético y moral</li>
							<li>Respeto a la integridad de nuestros usuarios, empleados y proveedores</li>
						</p>
						<hr>
						</hr>
						<div class="row">
							<p style="text-align:justify">
								<div class="col-md-9">
									<h1>Imagen Del Gimnasio </h1>
								</div>
								<div class="col-md-3">
									<div class="clearfix"></div>
									<button type="button" onclick="modificarvisión()"
										class="btn btn-info btn-lg btn-responsive" id="search">
										<span class="glyphicon glyphicon-search"></span> modificar</button>
								</div>
							</p>
						</div>
						<aside id="colorlib-hero" class="colorlib-degree-bg">
							<div class="flexslider">
								<ul class="slides">
									<li style="background-image: url(images/gimnasio_fachada.jpg);">
										<div class="overlay"></div>
										<div class="container-fluid">
											<div class="row">
												<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
													<div class="slider-text-inner text-center">
														<h1>Fachada Big - Gym</h1>
													</div>
												</div>
											</div>

										</div>
									</li>
								</ul>
							</div>
						</aside>
					

					</div>
				</div>
			</div>
			<hr>
			</hr>
		</section>


	