
		<aside id="colorlib-hero" class="colorlib-degree-bg">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/img_bg_1.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Este es un estilo de vida, no hay línea de meta</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/img_bg_2.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
									<div class="slider-text-inner text-center">
										<h1>No te detengas cuando te duela, detente cuando hayas terminado</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/img_bg_3.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Deja de desear empieza a hacerlo</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li style="background-image: url(images/img_bg_4.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Hacer ejercicio es una recompensa, no un castigo</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="mouse">
					<a href="#" class="mouse-icon">
						<div class="mouse-wheel"></div>
					</a>
				</div>
			</div>
			<hr>
		</hr>
		</aside>
		


		

		<!-- informacion de la empresa-->
		

		