		<aside id="colorlib-hero" class="colorlib-degree-bg">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url(images/img_bg_5.jpg);">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
									<div class="slider-text-inner text-center">
										<h1>Tienda</h1>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>

		<div class="colorlib-shop">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_a_1.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3><a href="product-detail.html">Bebida energizante</a></h3>
								<p class="price"><span>$2000</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_a_2.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3><a href="product-detail.html">fuel shot</a></h3>
								<p class="price"><span>$3000</span> <span class="sale">$2000</span> </p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_a_3.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3><a href="product-detail.html">drink</a></h3>
								<p class="price"><span>$3000</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_e_1.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3>amperez<a href="product-detail.html"></a></h3>
								<p class="price"><span>$3000</span></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_e_6.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3><a href="product-detail.html">rap tor</a></h3>
								<p class="price"><span>$3000</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_p_1.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3><a href="product-detail.html">whey</a></h3>
								<p class="price"><span>$20000</span> <span class="sale">$30000</span> </p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_p_2.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3><a href="product-detail.html">nitro tech</a></h3>
								<p class="price"><span>$30000</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center animate-box">
						<div class="product-entry">
							<div class="product-img" style="background-image: url(images/tienda_p_4.jpg);">
								<div class="cart">
									<p>
										<span class="addtocart"><a href="#"><i class="icon-cart"></i></a></span>
										<span><a href="#"><i class="icon-eye"></i></a></span>
										<span><a href="#"><i class="icon-heart3"></i></a></span>
										<span><a href="#"><i class="icon-pie-chart"></i></a></span>
									</p>
								</div>
							</div>
							<div class="desc">
								<h3><a href="product-detail.html">Mass</a></h3>
								<p class="price"><span>$30000</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		

		